# **Pandas** 

## **Descriptive Statistics**


---


A large number of methods collectively compute descriptive statistics and other related operations on DataFrame. 

Most of these are aggregations like sum(), mean(), but some of them, like sumsum(), produce an object of the same size. 

Generally speaking, these methods take an axis argument, just like ndarray.{sum, std, ...}, but the axis can be specified by name or integer

**DataFrame − “index” (axis=0, default), “columns” (axis=1)**

In [1]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

### **sum()**

Returns the sum of the values for the requested axis. By default, axis is index (axis=0).

In [2]:
print (df.sum())

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

Each individual column is added individually (Strings are appended).

### **axis=1**
This syntax will give the output as shown below.

In [3]:
print (df.sum(1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

### **mean()**
Returns the average value

In [4]:
print (df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

### **std()**
Returns the Bressel standard deviation of the numerical columns.

In [5]:
print (df.std())

Age       9.232682
Rating    0.661628
dtype: float64

### **Functions & Description**
Let us now understand the functions under Descriptive Statistics in Python Pandas. 

The following table list down the important functions −

Sr.No.	| Function |	Description
:---|:----|:----
1 |	count() |	Number of non-null observations
2 |	sum() |	Sum of values
3 |	mean() |	Mean of Values
4 |	median() |	Median of Values
5 |	mode() |	Mode of values
6 |	std() |	Standard Deviation of the Values
7 |	min() |	Minimum Value
8 |	max() |	Maximum Value
9 |	abs() |	Absolute Value
10 |	prod() |	Product of Values
11 |	cumsum() |	Cumulative Sum
12 |	cumprod() |	Cumulative Product

**Note** − Since DataFrame is a Heterogeneous data structure. Generic operations don’t work with all functions.

Functions like **sum(), cumsum()** work with both numeric and character (or) string data elements without any error. Though **n** practice, character aggregations are never used generally, these functions do not throw any exception.

Functions like a**bs(), cumprod()** throw exception when the DataFrame contains character or string data because such operations cannot be performed.

### **Summarizing Data**
The describe() function computes a summary of statistics pertaining to the DataFrame columns.

In [6]:
print (df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

This function gives the **mean**, **std** and **IQR** values. 

And, function excludes the character columns and given summary about numeric columns.

 **'include'** is the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. 
 
Takes the list of values; by default, 'number'.

* **object** − Summarizes String columns
* **number** − Summarizes Numeric columns
* all − Summarizes all columns together (Should not pass it as a list value)

Now, use the following statement in the program and check the output −

In [7]:
print (df.describe(include=['object']))

         Name
count      12
unique     12
top     David
freq        1

In [8]:
print (df. describe(include='all'))

         Name        Age     Rating
count      12  12.000000  12.000000
unique     12        NaN        NaN
top     David        NaN        NaN
freq        1        NaN        NaN
mean      NaN  31.833333   3.743333
std       NaN   9.232682   0.661628
min       NaN  23.000000   2.560000
25%       NaN  25.000000   3.230000
50%       NaN  29.500000   3.790000
75%       NaN  35.500000   4.132500
max       NaN  51.000000   4.800000


### **Reindexing**
---
Reindexing changes the row labels and column labels of a DataFrame. To reindex means to conform the data to match a given set of labels along a particular axis.

Multiple operations can be accomplished through indexing like −

* Reorder the existing data to match a new set of labels.

* Insert missing value (NA) markers in label locations where no data for the label existed.

In [9]:
import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print (df_reindexed)

           A     C   B
0 2016-01-01  High NaN
2 2016-01-03  High NaN
5 2016-01-06   Low NaN

**Reindex to Align with Other Objects**

You may wish to take an object and reindex its axes to be labeled the same as another object. Consider the following example to understand the same.

In [10]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])

df1 = df1.reindex_like(df2)
print (df1)

       col1      col2      col3
0  0.755292  0.610091 -0.162045
1 -0.254909 -0.721426 -1.729583
2 -0.067855 -0.325729  1.418333
3  1.636342 -0.511461  1.151390
4  1.956186  1.381731  1.610746
5 -1.382971  0.349844 -0.778474
6 -1.520281  0.797153  0.380340

**Note −** Here, the df1 DataFrame is altered and reindexed like df2. The column names should be matched or else NAN will be added for the entire column label.

**Filling while ReIndexing**

**reindex()** takes an optional parameter method which is a filling method with values as follows −

* pad/ffill − Fill values forward

* bfill/backfill − Fill values backward

* nearest − Fill from the nearest index values

In [11]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print (df2.reindex_like(df1,method='ffill'))

       col1      col2      col3
0  1.899573 -1.150856 -1.089667
1 -1.081411  0.024662  0.130794
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0  1.899573 -1.150856 -1.089667
1 -1.081411  0.024662  0.130794
2 -1.081411  0.024662  0.130794
3 -1.081411  0.024662  0.130794
4 -1.081411  0.024662  0.130794
5 -1.081411  0.024662  0.130794

**Note** − The last four rows are padded.

**Limits on Filling while Reindexing**

The limit argument provides additional control over filling while reindexing. Limit specifies the maximum count of consecutive matches.

In [12]:
import pandas as pd
import numpy as np
 
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill limiting to 1:")
print (df2.reindex_like(df1,method='ffill',limit=1))

       col1      col2      col3
0  0.295047 -1.310767 -1.217028
1  0.157895  1.152322  1.533900
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0  0.295047 -1.310767 -1.217028
1  0.157895  1.152322  1.533900
2  0.157895  1.152322  1.533900
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

**Note** − Observe, only the 7th row is filled by the preceding 6th row. Then, the rows are left as they are.

**Renaming**

The rename() method allows you to relabel an axis based on some mapping (a dict or Series) or an arbitrary function.

In [13]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print (df1)

print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}))

       col1      col2      col3
0 -0.404376 -0.765257 -1.253258
1 -0.020557 -0.842418  0.325989
2  0.922984 -0.158237  0.177725
3  0.490923 -2.064463  1.161358
4  0.891538  0.455013  0.126642
5 -0.433099  0.619588  0.663681
After renaming the rows and columns:
              c1        c2      col3
apple  -0.404376 -0.765257 -1.253258
banana -0.020557 -0.842418  0.325989
durian  0.922984 -0.158237  0.177725
3       0.490923 -2.064463  1.161358
4       0.891538  0.455013  0.126642
5      -0.433099  0.619588  0.663681

The rename() method provides an **inplace** named parameter, which by default is False and copies the underlying data. Pass inplace=True to rename the data in place.

## **Iteration**


---

The behavior of basic iteration over Pandas objects depends on the type. 

When iterating over a Series, it is regarded as array-like, and basic iteration produces the values. 

Other data structures, like DataFrame and Panel, follow the **dict-like** convention of iterating over the **keys** of the objects.

In short, basic iteration (for i in object) produces −

* Series − values

* DataFrame − column labels

* Panel − item labels

**Iterating a DataFrame**

Iterating a DataFrame gives column names.

In [14]:
import pandas as pd
import numpy as np
 
N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })


for col in df:
   print (col) # Prints column names

A
x
y
C
D

To iterate over the rows of the DataFrame, we can use the following functions −

* **iteritems()** − to iterate over the (key,value) pairs

* **iterrows()** − iterate over the rows as (index,series) pairs

* **itertuples()** − iterate over the rows as namedtuples

**iteritems()**

Iterates over each column as key, value pair with label as key and column value as a Series object.

In [15]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for key,value in df.iteritems():
   print (key,value)

col1 0   -0.190221
1    0.588599
2    0.361585
3    1.092635
Name: col1, dtype: float64
col2 0    0.762831
1   -0.827949
2   -0.260937
3    0.645784
Name: col2, dtype: float64
col3 0    2.074154
1   -1.514478
2   -2.790059
3    0.973713
Name: col3, dtype: float64

Observe, each column is iterated separately as a key-value pair in a Series.

**iterrows()**

iterrows() returns the iterator yielding each index value along with a series containing the data in each row.

In [16]:
for row_index,row in df.iterrows():
   print (row_index,row)

0 col1   -0.190221
col2    0.762831
col3    2.074154
Name: 0, dtype: float64
1 col1    0.588599
col2   -0.827949
col3   -1.514478
Name: 1, dtype: float64
2 col1    0.361585
col2   -0.260937
col3   -2.790059
Name: 2, dtype: float64
3 col1    1.092635
col2    0.645784
col3    0.973713
Name: 3, dtype: float64

**Note** − Because iterrows() iterate over the rows, it doesn't preserve the data type across the row. 0,1,2 are the row indices and col1,col2,col3 are column indices.

**itertuples()**

itertuples() method will return an iterator yielding a named tuple for each row in the DataFrame. The first element of the tuple will be the row’s corresponding index value, while the remaining values are the row values.

In [17]:
for row in df.itertuples():
    print (row)

Pandas(Index=0, col1=-0.19022121789420127, col2=0.7628306029701205, col3=2.0741543270148908)
Pandas(Index=1, col1=0.5885987383890395, col2=-0.8279488425319633, col3=-1.5144777813864088)
Pandas(Index=2, col1=0.36158481600851333, col2=-0.2609373372190318, col3=-2.7900590142592536)
Pandas(Index=3, col1=1.0926351840925779, col2=0.6457844091370067, col3=0.9737126650969048)

**Note** − Do not try to modify any object while iterating. Iterating is meant for reading and the iterator returns a copy of the original object (a view), thus the changes will not reflect on the original object.

In [18]:
for index, row in df.iterrows():
   row['a'] = 10
print (df)

       col1      col2      col3
0 -0.190221  0.762831  2.074154
1  0.588599 -0.827949 -1.514478
2  0.361585 -0.260937 -2.790059
3  1.092635  0.645784  0.973713

## **Sorting**


---

There are two kinds of sorting available in Pandas. They are −

* By label
* By Actual Value

Let us consider an example with an output.

In [19]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print (unsorted_df)

       col2      col1
1  1.056830 -1.176179
4  1.071031 -1.020956
6  0.518520  0.324449
2 -1.742423  0.060052
3  0.834464 -1.146776
5  0.179526 -0.758548
9 -2.223677 -0.706792
8  0.066206  1.132732
0 -0.905243 -0.349514
7  0.261670  0.093896

In unsorted_df, the labels and the values are unsorted. Let us see how these can be sorted.

**By Label**

Using the sort_index() method, by passing the axis arguments and the order of sorting, DataFrame can be sorted. By default, sorting is done on row labels in ascending order.

In [20]:
sorted_df=unsorted_df.sort_index()
print (sorted_df)

       col2      col1
0 -0.905243 -0.349514
1  1.056830 -1.176179
2 -1.742423  0.060052
3  0.834464 -1.146776
4  1.071031 -1.020956
5  0.179526 -0.758548
6  0.518520  0.324449
7  0.261670  0.093896
8  0.066206  1.132732
9 -2.223677 -0.706792

**Order of Sorting**

By passing the Boolean value to ascending parameter, the order of the sorting can be controlled. Let us consider the following example to understand the same.

In [21]:
sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col2      col1
9 -2.223677 -0.706792
8  0.066206  1.132732
7  0.261670  0.093896
6  0.518520  0.324449
5  0.179526 -0.758548
4  1.071031 -1.020956
3  0.834464 -1.146776
2 -1.742423  0.060052
1  1.056830 -1.176179
0 -0.905243 -0.349514

**Sort the Columns**

By passing the axis argument with a value 0 or 1, the sorting can be done on the column labels. By default, axis=0, sort by row.

In [22]:
sorted_df=unsorted_df.sort_index(axis=1)

print (sorted_df)

       col1      col2
1 -1.176179  1.056830
4 -1.020956  1.071031
6  0.324449  0.518520
2  0.060052 -1.742423
3 -1.146776  0.834464
5 -0.758548  0.179526
9 -0.706792 -2.223677
8  1.132732  0.066206
0 -0.349514 -0.905243
7  0.093896  0.261670

**By Value**

Like index sorting, **sort_values()** is the method for sorting by values. 

It accepts a '**by**' argument which will use the column name of the DataFrame with which the values are to be sorted.

In [24]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

Observe, **col1** values are sorted and the respective **col2** value and row index will alter along with col1. Thus, they look unsorted.

'**by**' argument takes a list of column values.

In [25]:
sorted_df = unsorted_df.sort_values(by=['col1','col2'])

print (sorted_df)

   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

**Sorting Algorithm**

sort_values() provides a provision to choose the algorithm from mergesort, heapsort and quicksort. 

Mergesort is the only stable algorithm.

In [26]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

### **Working with Text Data**

---

Pandas provides a set of string functions which make it easy to operate on string data. 

Most importantly, these functions ignore (or exclude) missing/NaN values.

Almost, all of these methods work with Python string functions (refer: https://docs.python.org/3/library/stdtypes.html#string-methods). 

So, convert the Series Object to String Object and then perform the operation.

Sr.No	| Function |  Description
:------|:------|:------
1		| lower()	| Converts strings in the Series/Index to lower case.
2	| upper()| Converts strings in the Series/Index to upper case.
3	| len()| Computes String length().
4	| strip()| Helps strip whitespace(including newline) from each string in the Series/index from both the sides.
5	| split(' ')| Splits each string with the given pattern.
6	| cat(sep=' ')| Concatenates the series/index elements with given separator.
7	| get_dummies()| Returns the DataFrame with One-Hot Encoded values.
8	| contains(pattern)| Returns a Boolean value True for each element if the substring contains in the element, else False.
9	| replace(a,b)| Replaces the value a with the value b.
10	| repeat(value)| Repeats each element with specified number of times.
11	| count(pattern)| Returns count of appearance of pattern in each element.
12	| startswith(pattern)| Returns true if the element in the Series/Index starts with the pattern.
13	| endswith(pattern)| Returns true if the element in the Series/Index ends with the pattern.
14	| find(pattern)| Returns the first position of the first occurrence of the pattern.
15	| findall(pattern)| Returns a list of all occurrence of the pattern.
16	| swapcase| Swaps the case lower/upper.
17	| islower()| Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean
18	| isupper()| Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.
19	| isnumeric()| Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

Let us now create a Series and see how all the above functions work.

In [27]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print (s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

**lower()**

In [28]:
print (s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

**upper()**

In [29]:
print (s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

**len()**

In [30]:
print (s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

#**Exercises**

1. **Write a Python program to add, subtract, multiple and divide two Pandas Series.** 

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

2. **Write a Pandas program to sort a given Series.** 

*Sample Output:*

Original Data Series: 
0 100

1 200

2 python

3 300.12

4 400

Output Data Series:

0 100

1 200

3 300.12

4 400

2 python